.name-color-red {
  color: red !important;
}

.name-color-blue {
  color: blue !important;
}

.name-color-red {
  color: green !important;
}

.name-color-red {
  color: gold !important;
}

.name-color-red {
  color: pink !important;
}