
.show {
  transform-origin: bottom;
}

.hide {
  visibility: hidden;
}

.position-fixed {
  position: fixed !important;
}

.emote-box-show {
  transition: 400ms ease !important;
  opacity: 1 !important;
  margin-top: 22px;
}

.emote-box-hide {
  transition: 400ms ease !important;
  opacity: 0 !important;
  transform: scale(0);
}

.show-fade {
  transition: 1s !important;
  opacity: 1 !important;
}

.show-fade-output {
  transition: 1s !important;
  opacity: 1 !important;
  // margin-top: 0px !important;
  animation: slideUp 500ms;
}

@keyframes slideUp {
  from {
    margin-top: 200px;
  }
  to {
    margin-top: 0px;
  }
}

.show-fade-next {
  transition: 1s !important;
  opacity: 1 !important;
  // margin-top: 0px !important;
  animation: slideDown 500ms;
}

@keyframes slideDown {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 0px;
  }
}

.hide-fade {
  transition: 200ms !important;
  opacity: 0 !important;
}

.noclick {
  pointer-events: none;
}

.correct-pick {
  border-color: rgb(1, 206, 104) !important;
  transition: 1s;
}
.wrong-pick {
  border-color: rgb(221, 44, 0) !important;
  transition: 1s;
}

.page-transition {
  animation: pageTransition 500ms;
}

@keyframes pageTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page-transition-top {
  animation: pageTransitionTop 400ms;
}

@keyframes pageTransitionTop {
  from {
    top: -30%;
  }

  to {
    top: 0%;
  }
}

.racer-fade-output {
  transition: 1s !important;
  opacity: 1 !important;
  animation: racerSlideUp 200ms;
}

@keyframes racerSlideUp {
  from {
    margin-top: -100px;
  }
  to {
    margin-top: 0px;
  }
}

.fade-scale-animation {
  animation: fadeScaleAnimation 400ms;
}

@keyframes fadeScaleAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}



.back-in-up-animation {
  animation: fadeAnimationFromUp 400ms;
}

@keyframes fadeAnimationFromUp {
  0% {
    margin-top: -50px;
    opacity: 0;
  }
  50% {
    margin-top: 0;
    opacity: 1;
  }
}


.hide-player-aside {
  transition: 400ms;
  transform: scale(0) !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
}

// .content-hide {
//   height: 0;
// }


.guest-img {
  background-color: lightblue;
}



.wait-counter-fade {
  animation: waitLabelFade 1000ms;
  display: block !important;
}

.wait-label-fade {
  animation: waitLabelFade 800ms;
  display: block !important;
}

@keyframes waitLabelFade {
  0% {
    top: -20px;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  70% {
    opacity: 1;
    top: -35px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: -35px;
  }
}


// .room-is-full-fade {
//   animation: roomIsFullAnim 1s !important;
//   display: block !important;
// }

// @keyframes roomIsFullAnim {
//   0% {
//     top: 0px !important;
//     opacity: 0 !important;
//   }
//   80% {
//     opacity: 1 !important;
//   }
//   100% {
//     opacity: 0 !important;
//     top: -100px !important;
//   }
// }




// .custom-fade-down-anim {
//   transition: 1s !important;
//   margin-top: 100px !important;
//   top: -20%;
// }

.input-wrong {
  border: 3px solid red !important;
}


.progress-bar-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 80px;
  #progressBar {
    position: relative;
    bottom: 30px;

    // left: 50%;
    // transform: translate(-50%);
    max-width: 800px;
    flex-grow: 1;

    // margin-left: 100px;
    // margin-right: 100px;
    // margin: 10px auto;
    height: 22px;
    background-color: #232329;
    border-radius: 12px;
    overflow: hidden;
  }
  
  #progressBar div {
    height: 100%;
    text-align: right;
    // padding: 0 1px;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 100%;
    background-color: rgb(255, 200, 0);
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35) inset;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35) inset;
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35) inset;
  }
}







.fa-heart {
  color: red;
}
// #emitter {
//   visibility: hidden;
//   background-color: #222;
//   position: absolute;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
//   top: 40%;
//   left: 0%;
// }
// .dot-container {
//   position:absolute;
//   left:0;
//   top:0;
//   overflow:visible;
//   z-index:5000;
//   pointer-events:none;
// }
// .dot {
//   position: absolute;
//   pointer-events: none; /*performance optimization*/
// }


// 1v1

.copied-animation {
  animation: copiedAnimation 800ms;
}


@keyframes copiedAnimation {
  0% {
    transform: scale(0.95);
  }
  33% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}


.game-results-win {
  background-color: rgba(9,109,26,0.8) !important;
}

.game-results-lose {
  background-color: rgba(172, 9, 9, 0.8) !important;
}

.game-results-draw {
  background-color: rgba(55, 62, 56, 0.8) !important;
}



.color-red {
  color: red !important;
}

.color-green {
  color: green !important;
}

.score-fx {
  display: block !important;
  opacity: 0;
  color: green;
  animation: scoreFx 800ms;
}


@keyframes scoreFx {
  0% {
    opacity: 1;
    margin-top: 40px;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    margin-top: -40px;
  }
}



.waiting-label-show {
  display: block !important;
  opacity: 1;
  animation: waitingLabelShow 800ms;
}

.game-starting-shortly-container {
  display: none;
}
.waiting-for-other-players {
  display: none;
}

@keyframes waitingLabelShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pulse-container {
  position:  absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%);
  bottom: -60px;
}

div[class^="dot-"] {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  margin: 0 20px;
}

.dot-1 {
  animation: dotPulse 1.5s infinite ease-in-out;
}
.dot-2 {
  animation: dotPulse 1.5s infinite ease-in-out;
  animation-delay: .4s;
}
.dot-3 {
  animation: dotPulse 1.5s infinite ease-in-out;
  animation-delay: .8s;
}

@keyframes dotPulse {
  0% {
    box-shadow: 0 -50px 0 -5px rgba(255, 255, 255, 0.8);
  }
  30% {
    box-shadow: 0 -50px 0 15px rgba(255, 255, 255, 0.8);
  }
  60%,
  100% {
    box-shadow: 0 -50px 0 -5px rgba(255, 255, 255, 0.8);
  }
}



// Mini dots

span[class^="mini-dot-"] {
  opacity: 0.1;
}

.mini-dot-1 {
  animation: miniDotHide 1.8s infinite;
}
.mini-dot-2 {
  animation: miniDotHide 1.8s infinite;
  animation-delay: .6s;
}
.mini-dot-3 {
  animation: miniDotHide 1.8s infinite;
  animation-delay: 1.2s;
}

@keyframes miniDotHide {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}




.admin-message {
  position: absolute;
  width: 80px;
  z-index: 100;
  top: 25%;
  right: 100%;
  display: none;
  transform: translate(0,-50%);
}

.admin-message-animation {
  display: block !important;
  animation: adminMessage 10s linear;
}




@keyframes adminMessage {
  from {
    transform: translate(0,-50%) rotate(0deg);
    right: 100%
  }
  to {
    transform: translate(0,-50%) rotate(400deg);
    right: -10%
  }
}


.highlight-box {
  border: 3px solid goldenrod !important;
}

.highlight-box-color {
  border: 3px solid goldenrod !important;
}


@function set-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  }
  @else {
    @return #FFF;
  }
}



.toggle-dark-mode-box {
  position: relative;
  display: flex;
  color: white;
  padding: 12px 0;
  // margin-left: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 100px;
  input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: inherit;
    cursor: pointer;
  }
  
  
  .toggle__fake {
    transition: 200ms;
    will-change: background-color;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
    // background-color: var(--background-toggle-inactive-color);
    background-color: rgb(97, 97, 97);
    // border: 1px solid var(--foreground-color);
    border-radius: 12px;
    transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    margin-right: 6px;
  }
  
  .toggle__fake::after {
    will-change: left;
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    display: block;
    width: 15px;
    height: 15px;
    // background-color: var(--background-card-color);
    background-color: white;
    // border: 1px solid var(--foreground-color);
    border-radius: 8px;
    transform: translateY(-50%);
    transition: left 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .toggle__input:checked ~ .toggle__fake::after {
    left: 30px;
  }
  .toggle__input:checked ~ .toggle__fake {
    background-color: rgb(10, 10, 10);
  }
}



// LOADING 
.loading-box {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -350px;
  height: 100%;
  pointer-events: none;
  .loading-small {
    margin-top: 300px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color: var(--loading);
  }
  z-index: 50;
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 32px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid var(--loading);
  border-color: var(--loading) transparent var(--loading) transparent;
  animation: lds-dual-ring 300ms linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



