@import 'config';
@import 'utilities';
@import 'nameColors';
@import 'media';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");


// players
.layout {
  position: relative;
  display: grid;
  grid-template-areas: "header header header" "aside main aside2";
  grid-template-columns: fit-content(300px) 1fr;
  grid-template-rows: 50px 1fr;
  height: 100%;
  // grid-template-rows: var(#{$headerHeight}) 1fr;
  // position: relative;
  // display: flex;
  // height: calc(100% - #{$headerHeight});
  // grid-template-rows: 1fr;
}

$headerHeight: 50px;
.header {
  position: relative;
  height: $headerHeight;
  width: 100%;
  background-color: $header;
  z-index: 100;
  grid-area: header;
  ul {
    position: relative;
    width: 100%;
    height: 100%;
    #nav-logo {
      display: inline-block;
      height: 100%;
      cursor: pointer;
      img {
        height: 100%;
        padding: 8px;
        margin-left: 4px;
      }
    }
  }

}

body {
  height: 100vh;
}

.nav-aside {
  position: relative;
  height: 100%;
  background-color: #232329;
  grid-area: aside;
  padding: 24px 0;
  width: 250px;
  li {
    position: relative;
    list-style-type: none;
    // border-top: 2px solid white;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  // li:first-of-type {
  //   border-top: 1px solid rgba(255, 255, 255, 0.5);;
  // }
  li:hover {
    background-color: #2c2c33;
  }
  button {
    color: white;
    width: 100%;
    height:100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    div {
      padding: 16px;
    }
  }

  // .battle-royale-btn:before {
  //   content: "HOT";
  //   font-weight: 700;
  //   position: absolute;
  //   padding: 2px 4px;
  //   border-radius: 4px;
  //   right: 15px;
  //   top: 15px;
  //   background-color: red;
  //   pointer-events: none;
  //   animation: pogBreathe 1.5s infinite;
  //   z-index: 2;
  // }

  .aside-icon {
    width: 30px;
    color: #cecece;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
  }

}

@keyframes pogBreathe {
  0% {
    transform: rotateZ(-6deg) scale(1);
  }
  50% {
    transform: rotateZ(-6deg)scale(0.95);
  }
  100% {
    transform: rotateZ(-6deg) scale(1);
  }
}


.battle-royale-aside {
  grid-area: aside2;
  background-color: #18171c;
  width: 340px;
  overflow: auto;
  // height: calc(100vh - 82px);
  position: relative;
  .players-remaining-aside {
    background-color: #1d1c22;
    padding: 18px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
  }
  .player-aside-container {
    overflow: auto;
    .player-aside {
      position: relative;
      color: white;
      list-style-type: none;
      background-color: rgb(53, 53, 53);
      padding: 8px;
      margin: 12px;
      height: 40px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      .player-aside-img {
        width: 32px;
        margin-right: 8px;
        border-radius: 6px;
      }
      .player-heart-container {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translate(0, -50%);
        i {
          text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
          margin: 0 1px;
        }
      }
    }

    .player-aside-name {
      max-width: 200px;
      overflow: hidden;
    }

  }
  .player-aside-eliminated-container {
    overflow: auto;
    border-top: 1px solid rgba(255,255,255,0.1);
    margin: 0 12px;
    .player-aside-eliminated {
      position: relative;
      color: white;
      list-style-type: none;
      // background-color: rgb(53, 53, 53);
      padding: 8px;
      margin: 12px 0;
      height: 40px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      opacity: 0.2;
    }
    .player-aside-img {
      width: 32px;
      margin-right: 8px;
      border-radius: 6px;
    }
    .player-heart-eliminated-container {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translate(0, -50%);
      i {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
        margin: 0 1px;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
}



.main {
  // width: 100%;
  height: 100%;
  // max-width: 900px;
  max-width: 800px;
  flex-grow: 1;
  z-index: 10;
  margin-left: 32px;
  grid-area: main;
  .solo-page-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: "left right";
    // grid-template-columns: fit-content(300px) 1fr;
    height: 100%;

    .main-label-background {
      position: relative;
      max-width: 1200px;
      margin: 40px 40px 0 40px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
      }
      label {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-size: 4rem;
      }
    }
    .solo-page-left {
      grid-area: left;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .solo-left-card {
        position: relative;
        background-color: gray;
        width: 25vw;
        min-width: 350px;
        height: 400px;
        border-radius: 12px;
        margin: 12px;
      }
    }
    .solo-page-right {
      grid-area: right;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .solo-right-card {
        position: relative;
        background-color: gray;
        width: 25vw;
        min-width: 350px;
        height: 400px;
        border-radius: 12px;
        margin: 12px;
      }
    }
  }
  .solo-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      padding: 18px 32px;
      margin: 64px 24px;
      border: none;
      outline: none;
      background-color: rgb(0, 222, 0);
      border-radius: 32px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

}

.original-game {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .game-upper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 28px 0 100px 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    box-shadow: 0px -10px 25px 0px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px -10px 25px 0px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px -10px 25px 0px rgba(0, 0, 0, 0.75) inset;
    background-color: $main;
    clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
    .players-qualified-label {
      color: rgba(255,255,255,0.2);
    }
    .emote-name {
      color: white;
      text-align: center;
      opacity: 0;
    }
    z-index: 3;
    .final-score-game {
      position: absolute;
      color: rgba(255,255,255,0.2);
      top: 36px;
      right: 100px;
      z-index: 10;
    }
  }
  .game-upper::before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 12%;
    background-color: #52268f;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .game-upper2::before {
    // content: "";
    // position: absolute;
    // bottom: -1px;
    // width: 100%;
    // height: 66px;
    background-color: #52268f !important;
    // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .game-upper2 {
    padding: 12px 0 100px 0 !important;
    .battle-container-1v1 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: -20px;
      z-index: 20;
      .battle-icon-1v1 {
        width: 80px;
        opacity: 0.5;
        z-index: 20;
      }
      .battle-player-box {
        position: relative;
        top: 8px;
        width: 110px;
        max-width: 120px;
        min-height: 134px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .battle-player-img-box {
          width: 80px;
          max-width: 120px;
          height: 80px;
          // border: 2px solid darkgoldenrod;
          background-color: #111111;
          box-shadow: 0 0 38px 0px rgba(0, 0, 0, 0.699);
          border-radius: 100%;
          margin: 12px;
          padding: 14px;
          overflow: hidden;
          display: grid;
          place-items: center;
          .battle-player-img {
            width: 100%;
          }
        }
        .battle-player-name {
          text-align: center;
          color: rgb(222, 222, 222);
          font-size: 16px;
        }
        .battle-player-ready {
          text-align: center;
          color: red;
          font-size: 11px;
        }
        .battle-player-score1 {
          position: absolute;
          font-size: 36px;
          color: rgb(222, 222, 222);
          left: -26px;
        }
        .battle-player-score2 {
          position: absolute;
          font-size: 36px;
          color: rgb(222, 222, 222);
          right: -26px;
        }

        .battle-player-score-fx1 {
          display: none;
          position: absolute;
          font-size: 28px;
          left: -76px;
          color: rgb(0, 180, 0);
        }
        .battle-player-score-fx2 {
          display: none;
          position: absolute;
          font-size: 28px;
          right: -76px;
          color: rgb(0, 180, 0);
        }

      }
    }
    .emote-fade-box {
      position:absolute;
      // background-color: red;
      width: 100%;
      top: 0;
      height: 250px;
      background: #232329;
      z-index: 5;
    }
  }
  .game-upper-content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    .emote-img-container {
      position: relative;
      width: 400px;
      height: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // place-items: center;
      img {
        // width: 200px;
        // min-width: 200px;
        max-width: 200px;
        // height: 200px;
        // min-height: 100px;
        max-height: 200px;
        // border-radius: 100%;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently */
      }
      .emote-name {
        height: 40px;
        width: 100%;
        // background-color: black;
        // opacity: 1;
      }
    }
  }

  .players-qualified-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .player-qualified {
      position: relative;
      display: flex;
      align-items: center;
      width: 70px;
      height: 70px;
      border: 2px solid black;
      border-radius: 100%;
      margin: 4px;
      padding: 8px;
      overflow: hidden;
      background-color: rgba(151, 149, 144, 0.274);
      .player-qualified-num {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgba(238, 238, 238, 0.377);
        font-size: 1.6rem;
        font-weight: 700;
      }
      .player-qualified-img {
        width: 100%;
        background-color: #424246;
        border-radius: 12px;
        z-index: 1;
      }
    }
  }

  .game-lower {
    position: relative;
    width: 100%;
    height: 55%;
    .emote-container {
      max-width: 1000px;
      margin: 0 auto;
      // padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      // align-items: center;
      z-index: 5;
      .inputEmote {
        transition: 180ms;
        width: 300px;
        height: 60px;
        padding: 12px;
        outline: none;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 4px;
        background-color: #5c5b61;
        font-size: 20px;
        color: white;
        caret-color: white;
        letter-spacing: 0.05rem;
        &:focus {
          background-color: rgba(0, 0, 0, 0.9);
          border: 3px solid darkgoldenrod;
        }
      }

    }
    .wait-label {
      position: absolute;
      color: red;
      opacity: 0;
      display: none;
    }
    h2 {
      position: absolute;
      color: rgba(255, 255, 255, 0.2);
      // height: 60px;
      bottom: 60px;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow-up-key {
        max-width: 30px;
        margin: 0 12px;
      }
    }
    .next-round-btn {
      display: flex;
      justify-content: center;
      margin: -18px auto;
      padding: 24px;
      width: 200px;
      background-color: rgb(255, 200, 0);
      border-radius: 36px;
      border: none;
      outline: none;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
    }
    .game-skip-container {
      position: absolute;
      width: 100%;
      top: 200px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  background-color: #32323a;

  .game-results {
    position: absolute;
    height: 600px;
    background-color: rgba(15, 15, 15, 0.88);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
    border-radius: 48px;
    h2 {
      font-size: 28px;
      text-align: center;
      color: white;
    }
    .new-personal-best {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      height: 100px;
      padding: 50px 0;
      color: white;
    }
    .final-score-result {
      color: rgb(255, 200, 0);
      font-size: 50px;
      text-align: center;
    }
    .share-container {
      display: flex;
      justify-content: center;
      margin: 18px 0;
      .share-btn {
        text-decoration: none !important;
        padding: 4px 8px;
        margin: 0 8px;
        border-radius: 4px;
        border: none;
        outline: none;
        color: white;
      }
      .facebook-share-btn {
        background-color: #3b5999;
      }
      .twitter-share-btn {
        background-color: #1da1f3;

      }
    }
    .game-results-nav {
      display: flex;
      justify-content: center;
      margin: 150px 50px 0 50px;
      .game-nav-btn {
        padding: 18px 12px;
        margin: 0 8px;
        border-radius: 24px;
        border: none;
        outline: none;
        background-color: rgb(255, 200, 0);
        color: #18171c;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .result-stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 24px;
      color: white;
      h3 {
        margin-bottom: 8px;
      }
      div {
        position: relative;
        margin: 0 12px;
        width: 50%;
        span {
          position: absolute;
          right: 0;
        }
      }
    }

    z-index: 20;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
    // text-align: center;
  }

  .result-btn-style {
  padding: 18px 12px;
  margin: 0 8px;
  border-radius: 24px;
  border: none;
  outline: none;
  background-color: #ffc800;
  color: #18171c;
  font-size: 20px;
  cursor: pointer;
  }

  .output-emote-img {
    max-width: 100px;
  }

  .user-output-container {
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    display: none;
    .output-eliminated {
      position: relative;
      width: 500px;
      height: 325px;
      border-radius: 22px;
      background-color:rgba(172, 9, 9, 0.8);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      h1 {
        color: white;
        margin-top: 24px;
      }
      .output-buttons-container {
        margin-top: 24px;
        // position: absolute;
        // left: 50%;
        // transform: translate(-50%);
        // bottom: 24px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: row;
        // width: 100%;
      }
    }
    .output-can-still-qualify {
      position: relative;
      width: 500px;
      height: 325px;
      border-radius: 22px;
      background-color:rgba(245, 188, 0, 0.8);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      h1 {
        color: white;
        margin: 2px 0;
      }
      .can-still-qualify-text {
        margin: 2px 0;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .output-qualified {
      position: relative;
      width: 500px;
      height: 325px;
      border-radius: 22px;
      background-color:rgba(9, 109, 26, 0.8);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      div {
        margin: 4px 0;
      }
      h1 {
        color: white;
      }
    }
    .output-end {
      position: relative;
      width: 525px;
      height: 350px;
      border-radius: 22px;
      // background-color:rgba(9, 109, 26, 0.8);
      opacity: 0;
      // display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);

      h1 {
        color: white;
      }
      .emote-img-end {
        max-width: 100px;
      }
      .emote-name-end {
        font-size: 1.5rem;
      }
      .output-win-lose-label {
        margin-top: 24px;
        background-color: #18171c;
        width: 100%;
        text-align: center;
      }
      // .correct-answer-label {
      //   padding: 0;
      // }
      .output-end-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -51%)
      }
      .correct-answer-content {
        height: unset;
      }
      .output-buttons-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
      }
    }
    .output-exit-btn {
      position: absolute;
      top: 16px;
      right: 16px;
      &:hover {
        cursor: pointer;
      }
      i {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.2rem;
      }
    }
    .correct-answer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 8px;
      height: 130px;
    }

    z-index: 30;
  }

  .correct-answer-label {
    font-size: 1.5rem;
    color: rgba(255,255,255,0.5) !important;
    padding: 20px 0;
  }


  .next-round-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    // DO NOT REMOVE BELOW
    display: none;
    opacity: 0;
    .output-wait-next-round {
      position: relative;
      background-color: rgba(58, 43, 82, 0.904);
      // padding: 32px 128px;
      width: 450px;
      height: 290px;
      border-radius: 22px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      border-radius: 12px;
      box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
      opacity: 0;
      .correct-answer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 130px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .output-correct {
        text-align: center;
        font-size: 2rem;
      }
    }
    .next-round-starting-in-container {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.5);
      div {
        padding: 0 4px;
      }
    }
    z-index: 20;
  }

  .game-starting-in-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    .game-starting-in-box {
      background-color: rgba(58, 43, 82, 0.904);
      border-radius: 12px;
      // background-color: #05851b;
      border-radius: center;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 64px;
      .game-starting-in-time {
        font-size: 32px;
        font-weight: 1000;
        color: white;
      }
    }
    z-index: 20;
  }
  .game-info-label-container {
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    width: 100%;
    h2 {
      color: rgba(255,255,255,0.2);
      width: 100%;
      text-align: center;
      margin: 24px 0;
    }
    h2:first-of-type {
      font-size: 1.8rem;
    }
    .racer-start-game-label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      .enter-key {
        width: 30px;
        margin: 0 12px;
      }

    }

    z-index: 20;
  }
  .game-info-label-container-1v1 {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    width: 100%;
    h2 {
      color: rgba(255,255,255,0.2);
      width: 100%;
      text-align: center;
      margin: 24px 0;
    }
    .racer-start-game-label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      .enter-key {
        width: 30px;
        margin: 0 12px;
      }

    }
    .waiting-for-other-players {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      margin-bottom: 100px;
    }

    z-index: 20;
  }
  .racer-game-timer-container {
    position: relative;
    // left: 50%;
    // top: 30px;
    // transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100px;
    width: 100px;
    height: 100px;
    // border: 4px solid black;
    background: transparent;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 62%, rgba(0,0,0,1) 62.5%, rgba(0,0,0,1) 100%);
    border-radius: 100%;
    box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 38px 0px rgba(0,0,0,0.75);
    z-index: 15;
    display: grid;
    justify-content: center;
    align-items: center;
    svg {
      position: absolute;
    }

    .racer-timer-bar {
      position: absolute;
      stroke: rgb(255, 200, 0);
      transform: rotate(-90deg);
      stroke-dasharray: 305;
      stroke-dashoffset: 305;
      animation: dash 62s linear forwards;

    }

    .racer-game-timer {
      color: white;
      font-size: 32px;
    }
  }
}

.win-lose-label-1v1 {
  text-align: center;
  color: white;
  padding: 36px 0;
}

.scoreboard-1v1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  .scoreboard-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .scoreboard-2 {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .board-ranking-1v1 {
    text-align: center;
    width: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.4rem;
  }
  .battle-player-img-box {
    display: grid;
    place-items: center;
  }
  .board-img-1v1 {
    width: 40px;
    padding: 4px;
  }
  .battle-player-score-board {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -50%);
    color: #ffc800;
  }
  .battle-player-name-board {
    color: white;
  }
  .board-score-label {
    position: absolute;
    right: 12px;
    top: -20px;
    color: white;
    font-size: 0.8rem;
  }
  .scoreboard-board-1v1 {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
  }
}




// .players-timer {
//   width: 200px;
//   height: 200px;
//   stroke: lime;
//   stroke-dasharray: 301;
//   stroke-dashoffset: 301;
//   animation: dash 29.5s linear forwards;
// }

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.lobby-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 50, 53);

  background: #281c3f;
  background: -webkit-linear-gradient(to bottom, #201329, #32234e);
  background: linear-gradient(to bottom, #201329, #281c3f);
  .lobby-players-container {
    max-width: 1200px;
    // height: 65vh;
    padding-top: 18vh;
    // padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    .seperate-players-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .lobby-player {
      height: 142px;
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .player-img-box {
      width: 100px;
      height: 100px;
      border: 1px solid white;
      box-shadow: 0 0 5px white;
      border-radius: 100%;
      margin: 12px 12px 6px 12px;
      padding: 16px;
      overflow: hidden;
      display: grid;
      place-items: center;
      img {
        width: 100%;
        border-radius: 12px;
      }
    }
    .player-name {
      text-align: center;
      color: white;
      max-width: 146px;
      overflow: hidden;
    }
  }
  .invite-link-container {
    position: relative;
    max-width: 1200px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    margin: 0 auto;
    .start-game-btn-container {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: -40px;
      .start-game-btn {
        padding: 18px 12px;
        margin: 0 8px;
        border-radius: 24px;
        border: none;
        outline: none;
        background-color: #ffc800;
        color: #18171c;
        font-size: 20px;
        cursor: pointer;
      }
    }

    h1 {
      color: white;
    }
  }
}

.invite-link-box {
  position: relative;
  height: 30px;
  width: 800px;
  z-index: 1;
  margin: 0 auto;
  .invite-link-first {
    position: relative;
    width: 100%;
    height: 100%;
    &:hover .invite-link-label {
      // display: none;
      background: transparent;
      color: transparent;
      pointer-events: none;
      // border: 1px solid #e2e2e2;
    }
    .invite-link-label {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #18171c;
      color: #e2e2e2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: 1s;
    }
    input {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border: 1px solid black;
      outline: none;
      background: #e2e2e2;
      padding-left: 12px;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  .invite-link-second {
    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0 12px;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 2;
      border-radius: 4px;
      background: #312f3a;
      color: #e2e2e2;
      // &:hover {
      //   background: #18171c;
      //   color: #e2e2e2;
      // }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.room-is-full-label {
  position: absolute;
  display: none;
  color: red;
  font-size: 48px;
  margin-top: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index: 100;
}





.main-container{
  position: relative;
  display: flex;
  justify-content: center;
  grid-area: main;
  // margin: 0 auto;
  color: (--text);
  max-height: calc(100vh - 50px);
  overflow: auto;
}

// .game-container {
//   width: 100%;
//   height: 100%;
//   grid-area: main;
.game {
  height: 100%;
  width: 100%;
  grid-area: main;
}
// }

// ###################################################
// ################### INFO ASIDE ####################
// ###################################################

.info-aside-container {
  position: relative;
  // height: calc(100% - 100px);
  // height: calc(100% - 131px);
  // grid-area: main;
  margin-right: 32px;
  margin-left: 32px;
  
  // margin: 99px 160px 0 0;

  .info-box {
    position: relative;
    width: 100%;
    background-color: var(--card-box);
    box-shadow: var(--card-shadow);
    padding: 32px 32px 42px 32px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid var(--card-border);
    width: 300px;
    li {
      list-style-type: none;
    }
    .note-label {
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: rgb(50, 50, 50);
    }
  }
  .info-box-stats {
    position: relative;
    height: 498px;
    width: 100%;
    background-color: var(--card-box);
    box-shadow: var(--card-shadow);
    padding: 32px;
    margin-top: 32px;
    border-radius: 4px;
    border: 1px solid var(--card-border);
    width: 300px;
    overflow: hidden;
    .info-box-profile {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      .profile-img-box-aside {
        width: 50px;
        height: 50px;
        border: 2px solid #1d1d1d;
        border-radius: 100%;
        margin-right: 12px;
        padding: 6px;
        display: grid;
        place-items: center;
        overflow: hidden;
        // background-color: rgba(179, 179, 179, 0.3);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
        .profile-img-aside {
          width: 100%;
          border-radius: 12px;
        }
      }
      .profile-name-aside {
        max-width: 170px;
      }
    }
    .yep-coins-container {
      width: calc(100% - 62px);
      height: 30px;
      // margin-top: 12px;
      // margin-bottom: 6px;
      // padding: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: rgb(215, 220, 230);
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) inset;
      border: 1px solid #c8c8c8;
      // color: black;
      // border-radius: 6px;
      padding: 4px;
      div {
        width: 60%;
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
      }
      .yep-coins-box {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 40%;
        // margin-right: 12px;
        .yep-coins {
          margin-right: 6px;
          // color: white;
          // color: black;
          font-size: 20px;
        }
        img {
          height: 100%;
        }
      }
    }
    .info-box-box {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) inset;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #c8c8c8;
    }
    .info-box-stats-label {
      width: 100%;
      padding-bottom: 6px;
      text-align: center;
      border-bottom: 1px solid black;
      margin-bottom: 12px;
    }
    .info-box-stats-list {
      list-style-type: none;
      margin: 12px 0;
      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
          width: 70%;
          height: 100%;
          display: flex;
          align-items: center;
        }
        .stats-number {
          width: 30%;
          position: relative;
          justify-content: flex-end;
        }
      }
    }
  }
  .about-box {
    margin-bottom: 12px;
    p {
      font-size: 15px;
    }
  }
  .credits-box {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 15px;
    }
    .contact-box {
      position: relative;
      button {
        width: 100%;
        margin-top: 4px;
        height: 26px;
        background-color: #55acee;
        color: white;
        outline:none;
        border:none;
        border-radius:4px;
        cursor: pointer;
      }
    }
  }
  .info-box-label {
    margin: 2px 0;
    font-size: 20px;
    color: gray;
  }
}





// ###################################################
// ################### MAIN PAGE #####################
// ###################################################

.landing-container {
  position: relative;
  // padding: 0 64px;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  // margin: 0 80px 0 160px;
  // max-width: 900px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // height: calc(100% - 24px);
  // margin-left: 100px;

  // margin-left: 100px;
  // transform: translateX(-50%);
  .title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    background-color: #333235;
    background: #281c3f;
    background: linear-gradient(to bottom, #201329, #281c3f);
    border-radius: 8px;
    clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
    max-height: 150px;
    min-height: 150px;
    h1 {
      position: relative;
      color: white;
      font-size: 2rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .landing-logo {
      width: 400px;
      margin-bottom: 15px;
      margin: 0 12px;
    }
    .title-icon {
      // position: absolute;
      margin: 0 12px;
      width: 80px;
      // top: 50%;
      // transform: translate(0,-50%);
      // left: 0;
    }
    .br-crown-icon {
      margin-bottom: 12px;
    }
    z-index: 5;
  }
  .games-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin-bottom: 32px;
    .game-box {
      position: relative;
      width: 100%;
      height: 180px;
      // margin: 38px 0;
      // background-color: var(--card-box);
      border-radius: 8px;
      padding: 24px;
      box-shadow: var(--card-shadow);
      border: 1px solid var(--card-border);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #583992;
      background: -webkit-linear-gradient(to right, #2a0845, #583992);
      background: linear-gradient(to right, #2a0845, #583992);
      color: white;
      overflow: hidden;
      z-index: 0;

      .game-box-background-img {
        position: absolute;
        left: 35%;
        transform: translate(-50%) scale(2.5);
        filter: grayscale(100%);
        opacity: 0.12;
        z-index: 1;
      }

      div {
        z-index: 2;
      } 
      
      .play-box {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .play-btn {
          outline: none;
          border: none;
          width: 200px;
          height: 40px;
          color: white;
          background-color: rgb(0, 187, 0);
          font-size: 1.5rem;
          border-radius: 24px;
          transition: 100ms;
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .game-icon {
        // position: absolute;
        // right: 0;
        // top: 50%;
        // transform: translate(0,-50%);
        // width: 80px;
        // margin-right: 50px;
        width: 80px;
        img {
          width: 100%;
          transition: 100ms;
          &:hover {
            filter: grayscale(0%);
          }
        }
        .main-br-img {
          filter: grayscale(100%) brightness(120%);
        }
        .main-one-img {
          filter: grayscale(100%) brightness(300%);
        }
        .main-solo-img {
          filter: grayscale(100%) brightness(200%);
        }
      }
      p {
        // position: absolute; 
        // max-width: 370px;
        // right: 160px;
        // top: 50%;
        // transform: translate(0, -50%);
        color: rgba(255, 255, 255, 0.7);
        max-width: 300px;
      }
    }
    .game-box:nth-of-type(2) {
      margin: 20px 0;
    }
  }
  .buttons-play-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: space-around;
    margin-bottom: 32px;
    // width: 900px;
    // justify-content: space-between;
    // position: relative;
    overflow:hidden;
    .button-card-box {
      // width: 100%;
      height: 200px;
      max-width: 300px;
      width: 100%;
      // width: clamp(300px, 100%, 300px);
      // margin: 32px 40px;
      background-color: var(--card-box);
      border-radius: 8px;
      padding: 24px 0;
      box-shadow: var(--card-shadow);
      border: 1px solid var(--card-border);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: 100ms;
      outline: none;
      &:hover {
        transform: scale(1.01);
      }
      &:focus {
        transform: scale(1);
      }
      .button-card-label {
        font-size: 28px;
      }
      .play-icon {
        font-size: 90px;
        color: rgba(88, 57, 146, 0.9);
      }
    }
    .button-card-box:nth-of-type(1) {
      margin-right: 16px;
    }
    .button-card-box:nth-of-type(2) {
      margin-left: 16px;
    }
  }
}
.landing-container::before {
  transition: 100ms;
  position: absolute;
  content: "";
  width: calc(100% + 40px);
  height: 40px;
  background-color: var(--background);
  top: 0;
  left: -20px;
  z-index: 4;
}

.grayscale-zero {
  filter: grayscale(0%) !important;
}



.profile-label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-height: 80px;
  margin-top: 32px;
  background-color: #333235;
  background: #281c3f;
  background: linear-gradient(to bottom, #201329, #281c3f);
  border-radius: 8px;
  z-index: 5;
  h1 {
    color: white;
  }
}
.profile-card-box {
  position: relative;
  width: 100%;
  background-color: var(--card-box);
  border-radius: 8px;
  padding: 24px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--card-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 6px;
    .profile-name-box {
      position: relative;
      border: 2px solid transparent;
      border-bottom: 2px solid #1d1d1d;
      cursor: default;
      display: flex;
      align-items: center;
      transition: 50ms;
      
      // border: 3px solid var(--card-box);
      // background: rgb(0,0,0);
      // background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(255, 255, 255, 0) 30%);
      .profile-name {
        width: 300px;
        height: 50px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
        background-color: var(--card-box);
        border-radius: 6px;

        outline: none;
        border: none;
        font-size: 1.5rem;
        padding: 6px;
        cursor: default;

        // &:focus {
        //   border: 3px solid #1d1d1d;
        // }
      }
      .profile-edit-btn {
        width: 55px;
        height: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: rgb(240, 240, 240);
        outline: none;
        margin-right: 6px;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        &:active {
          transform: scale(0.98)
        }
      }
    }
  }
  // .profile-save-box {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin-top: 26px;

  // }

}




.customize-label-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin: 4px 0;
}
.customize-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 452px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #a1a0a0;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
  }
  ::-webkit-scrollbar-track {
    background: rgb(215, 220, 230);
    border: 0px none #ffffff;
    border-radius: 51px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .cosmetic-box-label {
    pointer-events: none;
  }
  .custom-text-color-container {
    position: relative;
    display: flex;
    overflow-y: auto;
    width: 50%;
    margin-bottom: 20px;
    .color-box {
      transition: 100ms;
      position: relative;
      height: 140px;
      max-width: 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin: 20px auto;
      padding: 4px;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      cursor: default;
      .buy-color-btn {
        background-color: rgb(0, 170, 0);
        margin: 0 4px;
        outline: none;
        border: none;
        color: white;
        width: 100%;
        height: 30px;
        cursor:  pointer;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: rgb(0, 200, 0);
        }
        img {
          height: 100%;
          margin-left: 4px;
          pointer-events: none;
        }
      }
      .select-color-btn {
        background-color: rgb(185, 185, 185);
        margin: 0 4px;
        outline: none;
        border: none;
        color: white;
        width: 100%;
        height: 30px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
      }
      .name-color {
        background-color: #353535;
        width: 100%;
        padding: 12px 0;
        text-align: center;
        border-radius: 6px;
        overflow: hidden;
        pointer-events: none;
      }
      .name-color-owned {
        background-color: #353535;
        width: 100%;
        padding: 12px 0;
        text-align: center;
        border-radius: 6px;
        overflow: hidden;
        pointer-events: none;
      }
    }
  }
  .customize-column {
    width: 50%;
  }
  .custom-emote-img-container {
    position: relative;
    display: flex;
    overflow-y: auto;
    width: 50%;
    margin-bottom: 20px;
  }
}


.profile-img-box {
  width: 100px;
  height: 100px;
  border: 3px solid #1d1d1d;
  border-radius: 100%;
  margin-right: 12px;
  padding: 14px;
  display: grid;
  place-items: center;
  // background-color: rgba(179, 179, 179, 0.3);
  
  .profile-img {
    width: 100%;
    border-radius: 12px;
    z-index: 1;
  }
  // border-radius: .8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}




.emote-box {
  transition: 100ms;
  position: relative;
  height: 140px;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: default;
  .buy-emote-btn {
    background-color: rgb(0, 170, 0);
    margin: 0 4px;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    height: 30px;
    padding: 6px;
    cursor:  pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      margin-left: 4px;
      pointer-events: none;
    }
    &:hover {
      background-color: rgb(0, 200, 0);
    }
  }
  .select-emote-btn {
    background-color: rgb(185, 185, 185);
    margin: 0 4px;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    height: 30px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  .emote-box-img {
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background-color: #353535;
    padding: 4px;
    border-radius: 6px;
    display: grid;
    place-items: center;
    overflow: hidden;
    pointer-events: none;
    img {
      width: 100%;
    }
  }
  .kappa-profile-img {
    padding: 0 2px;
  }
}

.main-full {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  .buy-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.2);
    .buy-box {
      width: 500px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 12px;
      .emote-box {
        width: 200px;
        height: 160px;
      }
    }
  }
  z-index: 50;
}


.emote-box-owned {
  cursor: default;
}

.color-box-owned {
  cursor: default;
}



// .profile-container {
  
// }